.container_bg{
    background-color: #F3F7FA;
    padding: 40px 50px !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.feature2_left h5{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #3734A9;
    padding-top: 20px;
    text-transform: uppercase;
}
.feature2_left h2{
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #000;
    line-height: 50px;
    padding-top: 10px;
    width: 520px;
}
.feature2_left p{
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #757095;
    letter-spacing: -2%;
    width: 420px;
    line-height: 26px;
    margin-top: 20px;
}

.feature2_right h5{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: #3734A9;
    padding-top: 20px;
}

.inputt1 input{
    width:320px ;
    height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: #64607D;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #fff;
}

.feature2_right a{
    background-color: #FF7F5C;
    color: #fff;
    padding: 10px 121px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
}

@media (max-width:575px){
    .feature2_left{
        text-align: center;
    }
    .feature2_left h2{
        font-size: 35px;
        width: 100%;
    }
    .feature2_left p{
        width: 100%;
    }
    .feature2_right{
        text-align: center;
    }
}

@media (min-width:576px) and (max-width:767px){
    .feature2_left{
        text-align: center;
    }
    .feature2_left h2{
        font-size: 35px;
        width: 100%;
    }
    .feature2_left p{
        width: 100%;
    }
    .feature2_right{
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:991px){
    .feature2_left{
        text-align: center;
    }
    .feature2_left h2{
        font-size: 35px;
        width: 100%;
    }
    .feature2_left p{
        width: 100%;
    }
    .feature2_right{
        text-align: center;
    }
}
